#========================================================================#
# sampleX - Copyright © 2021 Robert Repka. All rights reserved.          #
#========================================================================#
#                                   \/                                   #
#                                 .'  '.                                 #
#                                :      :                                #
#                                | _  _ |                                #
#                             .-.|(o)(o)|.-.                             #
#                            ( ( | .--. | ) )                            #
#                             '-/ (    ) \-'                             #
#                              /   '--'   \                              #
#                              \ `"===="` /                              #
#                               `\      /'                               #
#                                 `\  /'                                 #
#                                 /`-.-`\_                               #
#                           _..:;\._/V\_./:;.._                          #
#                         .'/;:;:;\ /^\ /:;:;:\'.                        #
#                        / /;:;:;:;\| |/:;:;:;:\ \                       #
#                       / /;:;:;:;:;\_/:;:;:;:;:\ \                      #
#========================================================================#
# sampleX - Copyright © 2021 Robert Repka. All rights reserved.          #
#========================================================================#
#
#
share=\\10.7.16.3\share\Install\3rd\test\

 