<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<clear />
		<add key="server" value="127.0.0.1" />
		<add key="port" value="3306" />
		<add key="db" value="samplex" />

		<add key="xSMB_share" value="files" />
		<add key="xSMB_server" value="localhost" />
		<add key="xSMB_user" value="backup" />
		<add key="xSMB_pass" value="backup" />

		<add key="SMB_share" value="share" />
		<add key="SMB_server" value="10.7.16.3" />
		<add key="SMB_user" value="pi" />
		<add key="SMB_pass" value="Pribinova40" />

	</appSettings>
</configuration>